body {
    margin: 10px 10px 10px 30px;
    background-image: url(../Images/carbg.jpg);
    background-size: 184vh;
    background-repeat: repeat-y;

}

form {
    margin: 10px 10px 15px 10px;
}

#carGif {
    float:left;
    margin: 10px 10px 15px 10px;
    cursor: pointer;
}

